<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ices.ethereumevent.mapper.MessageMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		t_message(correlation_id, payload, state, complete_time, fail_time)
		VALUES(#{correlationId}, #{payload}, #{state}, #{completeTime}, #{failTime})		
	</insert>
	
	<select id="selectByCorrelationId" resultType="com.ices.ethereumevent.domain.MessagePO">
		SELECT 
		id,
		correlation_id AS correlationId,
		payload,
		state,
		complete_time AS completeTime,
		fail_time AS failTime
		FROM t_message
		WHERE correlation_id=#{correlationId}
	</select>
	
	<update id="updateByCorrelationId">
		UPDATE t_message
		SET state=#{state}, complete_time=#{completeTime}, fail_time=#{failTime}
		WHERE correlation_id=#{correlationId}
	</update>
	
	

</mapper>